<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
          <!-- Delete Modal HTML

			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
					</div>
					<div class="col-sm-6">					
					</div>
				</div>
			</div> -->
            <cds-search layout="horizontal">
                <label>search</label>
                <input [(ngModel)]="searchb" (ngModelChange)="search()" type="search" />
            </cds-search>
            
			<table class="table table-striped table-hover">


				<thead>
					<tr>
                        <th><button class="button"   (click)="openDialog()"  mat-raised-button color="primary">+</button> </th>
						<th>nom</th>
						<th>Tel</th>
						<th>Fax</th>
                        <th>Region</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let obj of centres ">
                        <td></td>
                        <td>{{obj.nom}}</td>
						<td>{{obj.tel}} </td>
						<td>{{obj.fax}} </td>
                        <td>{{obj.Region.Libelle}} </td>

 						<td>
							<a  (click)="editfunction(obj._id)" class="edit" data-toggle="modal" data-target="#exampleModalCenter"><i  class="material-icons"   title="Edit">&#xE254;</i></a>
							<a  (click)="deletecentre(obj._id)"  class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip"  title="Delete">&#xE872;</i></a>
						</td>
					</tr>	
				</tbody>
			</table>

		</div>
		
	</div>   
    
</div>

<!-- Modal -->
<div  *ngIf="condition" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit Centre  : </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
			<form [formGroup]="form">
				<mat-form-field appearance="fill">
				 <input matInput formControlName="nom" placeholder="{{centreaediter.nom}}">
				 </mat-form-field><br> 
				<mat-form-field appearance="fill">
				<input matInput formControlName="tel" placeholder={{centreaediter.tel}} >
				</mat-form-field><br> 
				<mat-form-field appearance="fill">
				   <input matInput formControlName="fax"  placeholder={{centreaediter.fax}}>
				</mat-form-field>
				<mat-form-field appearance="fill">
				  <input matInput formControlName="longitude"  placeholder={{centreaediter.location.longitude}}>
			   </mat-form-field>
			   <mat-form-field appearance="fill">
				<input matInput formControlName="latitude"  placeholder={{centreaediter.location.latitude}}>
			 </mat-form-field>
				<br>
				<label for="selectAction"></label>
                <select ngModel name="option" class="form-control"    (change)= "Function(t.value)" #t>
                    <option *ngFor="let op of allRegion" [value]="op._id"    >
                        {{op.Libelle}}
                    </option>
                </select>
				<br>
			 </form>
        </div>
        <div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          <button (click)="editinfo()" type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
         </div>
      </div>
    </div>
  </div>


