<header class="header-6">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <cds-icon shape="vm-bug"></cds-icon>
        <span class="title">Client  &nbsp; <small>  </small>
        </span>
      </a>
    </div>
    <div class="header-nav">
      <a  routerLinkActive="active" routerLink="profil"  class="nav-link nav-text">mon profil </a>
      <a routerLinkActive="active" routerLink="interface" href="javascript://" class="nav-link nav-text"> activities</a>
    </div>
    <div class="header-actions">
      <a   class="nav-link nav-icon" aria-label="settings">
        <cds-icon  shape="logout"></cds-icon>
    </a>
    </div>
  </header>  
 
