 
<div style="margin-top: 220px; width: 900px; margin-left: 60px;"     class="container">
    <div class="card">
        <div class="form">
            <div class="left-side"> 
                <div class="activities">
                    <div>
                        <div class="debit-card"> 
                            <div class="card_name"> <small>Chef  name</small> <span class="user_name">{{nom}} Doe</span> </div>

                        </div>
                     </div>
                </div>
            </div>
                  <div     class="right-side" >
                    <h3>Change your informations</h3>
                    <div class="input-text"> <input type="text" id="user_name_input"    require> <span> name</span> </div>
                    <div class="input-text"> <input type="text" id="user_name_input"   require> <span> Last name </span> </div>
                    <div class="input-text"> <input type="text" id="user_name_input"     require> <span> Email </span> </div>
                    <div class="input-text"> <input type="password" id="user_name_input"   placeholder="***" require> <span> password </span> </div>
                    <div class="button"> <button class="click-pay">Valider</button> </div>
                  </div>

         </div>
    </div>
</div>