<div class="container">

    <div mat-dialog-content>
      <form [formGroup]="form">
            <mat-form-field appearance="fill">
             <input matInput formControlName="matricule" placeholder="matricule">
             </mat-form-field><br> 
            <mat-form-field appearance="fill">
            <input matInput formControlName="nom" placeholder="nom" >
            </mat-form-field><br> 
            <mat-form-field appearance="fill">
               <input matInput formControlName="prenom"  placeholder="prenom">
            </mat-form-field><br> 
            <mat-form-field appearance="fill">
              <input matInput formControlName="email"  placeholder="email">
           </mat-form-field><br> 
           <mat-form-field appearance="fill">
            <input matInput formControlName="password"  placeholder="password">
         </mat-form-field>
           
            <br>
                 <mat-form-field appearance="fill">
                    <mat-label>Select centre</mat-label>
                    <mat-select   formControlName="region" (selectionChange)="onRegionChange($event)" > 
                      <mat-option *ngFor="let obj of allcentre" [value]="obj._id">
                        {{obj.nom}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
         </form>
    </div>
    <div mat-dialog-actions>
      <button  class='button btn btn-success' mat-button mat-dialog-close>Close</button>
      <button class='button  btn btn-primary' mat-button (click)="addthis()">add</button>
    
    </div>
    </div>
    
    