<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
          <!-- Delete Modal HTML

			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
					</div>
					<div class="col-sm-6">					
					</div>
				</div>
			</div> -->
            <cds-search layout="horizontal">
                <label>search</label>
                <input [(ngModel)]="searchb" (ngModelChange)="search()" type="search" />
            </cds-search>
            
			<table class="table table-striped table-hover">


				<thead>
					<tr>
						<th>matricule</th>
						<th>prenom de Facteur </th>
						<th> nom de facteur</th>
                        <th>Centre De Distribution</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let obj of Facteur ">
                        <td>{{obj.matricule}}</td>
						<td>{{obj.nom}} </td>
						<td>{{obj.prenom}} </td>
                        <td>{{obj.CentreDistribution.nom}} </td>
 						<td>
							<!-- <a     class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a> -->
							<a  (click)="deletecentre(obj._id)"  class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip"  title="Delete">&#xE872;</i></a>
						</td>
					</tr>	
				</tbody>
			</table>

		</div>
	</div>   
    
</div>


